# Ignore Python bytecode files and cache
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore macOS specific files
.DS_Store
*.DS_Store

# Ignore bin directory (commonly for compiled binaries or scripts)
bin/

# Notebook checkpoints
.ipynb_checkpoints
